<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<header>
</header>

<main>
  <div class="jumbotron">
    <h1>List Of URLs in our system.</h1>
    <table>
      <thead>
        <th>URL</th>
        <th>Shortened URL</th>
      </thead>
      <tbody>
      <% for(const shortUrl in urlIndex) { %>
        <tr>
          <td><%= shortUrl %> </td>  
          <td><%= urlIndex[shortUrl] %> </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <form action ="/home" id="newUrl" method ="GET">
    <input type="text">
    <input type="submit">
  </form>

</main>

<footer>
</footer>

</body>
</html>


